<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= item.amount %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= item.created_at %>
  </p>

  <p>
    <strong>Authorid:</strong>
    <%= item.author_id %>
  </p>

</div>
