<%
=begin%>
 <p style="color: green"><%= notice %></p>

<h1>Items</h1>

<div id="items">
  <% @items.each do |item| %>
    <%= render item %>
    <p>
      <%= link_to "Show this item", item %>
    </p>
  <% end %>
</div>

<%= link_to "New item", new_item_path %> 
<%
=end%>
<%
=begin%>
 
<h1>Items</h1>

<%= link_to 'New Item', new_item_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Categories</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.amount %></td>
        <td>
          <% item.categories.each do |category| %>
            <%= category.name %>, 
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', item_path(item), class: 'btn btn-secondary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> 
<%
=end%>